# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=taskmanagerdb
DB_USERNAME=taskmanageruser
DB_PASSWORD=taskmanagerpass

# JWT
JWT_SECRET=dGFza21hbmFnZXJzZWNyZXRrZXlmb3Jqd3R0b2tlbmdlbmVyYXRpb24xMjM0NTY3ODk=
JWT_EXPIRATION=86400000
